@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f4f4f4;
}

/* Navbar */
.navbar {
  background: rgb(36, 35, 34);
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  right: 10px;
}

.navbar ul li {
  margin-left: 1rem;
}

.docs{
  position: fixed;
  right: 2rem;
  bottom: 1rem;
}

.docs a {
  color: rgb(70, 22, 183);
  text-decoration: none;
  font-size: 2rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

/* Showcase */
.showcase {
  height: 600px;
  width: fit-content;
  padding: 64px;
  margin: 2rem 2rem;
  background: rgba( 249, 182, 77, 0.65 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.showcase h1 {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 32px;
  padding: 1rem 0;
}

.showcase form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.showcase form input,
form select {
  font-size: 20px;
  width: 500px;
  max-width: 500px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}


form button {
  font-size: 20px;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background: #333;
  color: #fff;
  cursor: pointer;
  margin-top: 120px;
}

form button:hover {
  transform: scale(1.1);
}

/* Image */

.image {
  width: 60vw;
  height: 85vh;
  min-width: 1072px;
  margin: 2rem auto;
  font-size: 1.5rem;
  text-align: center;
  background: rgba(155, 155, 155, 0.5);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.image-container{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}




.msg {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 1rem;
}

main{
  display: flex;
  flex-wrap: wrap;
}